/*
 * --- GLOBAL STYLES ---
 */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  /* makes sure that the padding and border are included in the total width and height of the elements. */
  box-sizing: border-box;

  font-family: "Optima", "lato", sans-serif;
  font-size: 62.5%;

  background-color: #1f1949;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.line {
  width: 100%;
  border-bottom: 2px solid #b5b7bb;
}

h3 {
  font-size: 2.4em;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.container {
  opacity: 1;
}

.container.inactive {
  opacity: 0;
}

.active {
  opacity: 1;
}

.dim {
  opacity: 0.1;
}

.inactive {
  opacity: 0;
}

/*
 * --- Header STYLES ---
 */
header {
  /* font-family: "Playfair Display"; */
  font-size: 3em;
  font-weight: 500;

  display: flex;
  align-items: center;

  color: #f7f0ff;
  margin: auto 1.2em;

  height: 83%;
}

header i {
  display: flex;
  justify-self: center;
}

header p {
  margin-top: 1.2em;

  line-height: 1.5;
  /* letter-spacing: 0.01em; */
  text-align: center;
}

header .item svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

header .item {
  opacity: 0;
}

header .item.active {
  opacity: 1;
}

header .info.grid {
  width: 100%;
}

/*
 * --- NAV BAR STYLES ---
 */
#navbar {
  overflow: hidden;
  background: #1f1949;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav.grid {
  grid-template-columns: 1fr auto;
  text-align: center;

  margin: 1.5em;
  color: #fffff0;
}

nav ul li a {
  text-decoration: none;
  color: #ff6666;
}

/*
 * --- RESUME CONTENT STYLES ---
 */
.content.grid {
  padding: 0 2em;

  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  color: #fffff0;
}

.timeline {
  grid-row: 1/2;
  grid-column: 1/2;
  height: 182em;
  border-left: 1px solid #b5b7bb;
}

.resume-skills.grid {
  grid-row: 1/2;
  grid-column: 2/3;

  grid-template-rows: auto auto auto auto auto 1fr;

  grid-gap: 4em;
  margin-top: 8em;
}

.resume.grid.past {
  grid-template-rows: repeat(2, auto);
  grid-gap: 2em;
}

.resume.grid.current,
.resume.grid.past div.grid {
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.5em;
}

.past {
  color: #d8d8d8;
}

.resume.grid.past ul li {
  margin: 0 0 0 2.5em;
  font-size: 1.2em;
  line-height: 1.4em;
}

.resume.grid.past ul.grid {
  grid-gap: 1em;
}

.year,
.city,
.profession,
.company,
.skills {
  font-size: 1.3em;
  margin-left: 1em;
}

.year {
  grid-row: 1/2;
  grid-column: 1/2;

  align-self: end;
}

.separator {
  grid-row: 2/3;
  grid-column: 1/2;

  border-top: 1px solid #b5b7bb;
}

.city {
  grid-row: 3/4;
  grid-column: 1/2;
}

.profession {
  grid-row: 1/2;
  grid-column: 2/3;

  font-style: italic;
}

.company {
  grid-row: 3/4;
  grid-column: 2/3;
}

.portfolio.grid {
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(6, auto);
  grid-gap: 1.5em;
}

.portfolio-image {
  height: 5em;

  display: flex;
  justify-self: end;
}

.portfolio-image.image1 {
  grid-row: 1/2;
  grid-column: 1/3;
}

.portfolio-image.image2 {
  grid-row: 1/2;
  grid-column: 3/5;
}

.portfolio-image.image3 {
  grid-row: 1/2;
  grid-column: 5/7;
}

.portfolio-image.image4 {
  grid-row: 2/3;
  grid-column: 2/4;
}

.portfolio-image.image5 {
  grid-row: 2/3;
  grid-column: 4/6;
}

.portfolio-image.image6 {
  grid-row: 3/4;
  grid-column: 1/3;
}

.portfolio-image.image7 {
  grid-row: 3/4;
  grid-column: 3/5;
}

.portfolio-image.image8 {
  grid-row: 3/4;
  grid-column: 5/7;
}

.skills {
  border: 1px solid #fde4e5;
  border-radius: 1.5em;
  padding: 1em 1em 1.5em 1em;
  letter-spacing: 1px;
}

.skills p {
  margin: 0.4em 1em;
}

.skill-category {
  margin: 0.5em 1em 1em 1em;
  font-size: 1.3em;
}

.skill-group-title {
  margin: 1.5em 1em 0.8em 1em;
  font-size: 1.2em;
}

/*
 * --- CONTACT FORM STYLES ---
 */
#contact-form {
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;

  margin: 8em 2em;
  text-align: center;

  color: #fffff0;
}

#contact-form a {
  color: #fffff0;
  text-decoration: none;
}

#email.flex,
#phone-number.flex {
  font-size: 1.6em;
  justify-self: center;
  column-gap: 1em;
}

.input-textbox,
.input-textarea,
.btn {
  color: #c0bfc5;
  border: 1px solid #c0bfc5;
  border-radius: 15px;
  font-family: "Optima";
  font-size: 1.4em;
  padding: 0.7em 1em;
  margin-bottom: 1.5em;
  width: 80%;
  background-color: #1f1949;
}

.input-textbox,
.input-textarea {
  width: 80%;
}

.input-textarea {
  height: 10em;
}

.btn {
  width: 90%;
  color: #fffff0;
}

.btn:hover {
  background-color: #ff6666;
}

/*
 * --- FOOTER STYLES ---
 */
footer.grid,
footer.grid a {
  color: #ff6666;
}

footer.grid {
  grid-template-rows: auto auto;
  grid-gap: 2em;

  margin: 2em;
  text-align: center;
  align-items: center;

  font-size: 1.5em;
}

#footer-logo.grid {
  grid-template-columns: auto auto;
  grid-gap: 0.7em;

  /* padding-left: 1em; */
  align-items: center;
}

#footer-logo img {
  max-width: 3em;
  justify-self: end;
}

#footer-logo p {
  padding-top: 0.7em;
}

#footer-content.grid {
  grid-template-columns: repeat(4, auto);
  padding: 0 1em;

  text-align: center;
}

#footer-content.grid a {
  text-decoration: none;
}

/*
 * ─── MOBILE NAV STYLES ─────────────────────────────────────────────────────────────────
 */
@media screen and (max-width: 375px) {
  header {
    height: 610px;
  }

  nav img {
    max-width: 15em;
    margin-bottom: 1em;
    display: flex;
    justify-self: center;
  }

  #title {
    margin-top: 0.5em;
    text-align: center;
    font-size: 1.5em;
  }

  nav a.toggle.open {
    justify-self: end;
    margin: 0.5em 0.5em 0 0;

    font-size: 2.5em;
    color: #ff6666;
  }

  #navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    right: -450px;
    transition: transform 0.3s ease-in-out;
    background-color: rgba(255, 232, 234, 0.95);

    z-index: 1;

    padding-top: 30em;
  }

  #navigation:target {
    transform: translateX(-450px);
  }

  #navigation li a.toggle.close {
    font-size: 2em;
    margin-top: 40em;
  }

  #navigation li a.toggle.close i {
    padding-top: 1em;
  }

  #navigation li {
    padding: 0 2em 2em 0;
    font-size: 1.8em;
  }
}

/*
 * ─── 425PX AND UP STYLES ────────────────────────────────────────────────────────
 */
@media screen and (min-width: 426px) {
}

/*
 * ─── 768PX AND UP STYLES ────────────────────────────────────────────────────────
 */
@media screen and (min-width: 768px) {
  /*
 * --- NAV BAR STYLES ---
 */
  nav.grid {
    text-align: start;
    margin: 3em 4em;
  }

  nav img {
    max-width: 15em;
    margin-bottom: 2em;
  }

  #title,
  #navigation ul li {
    font-size: 1.8em;
  }

  nav a.toggle.open {
    display: none;
  }

  #navigation li a.toggle.close {
    display: none;
  }

  #navigation {
    display: grid;
    grid-template-rows: 1fr;
  }

  #navigation ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1.5em;

    margin: auto;
  }

  /*
 * --- RESUME CONTENT STYLES ---
 */
  .content.grid {
    grid-template-columns: 1fr 1fr;

    padding: 0 4em;
  }

  .timeline {
    grid-column: 2/3;
    height: 124em;
  }

  .portfolio.grid {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, auto);
    grid-gap: 1.5em;
  }

  .portfolio-image {
    height: 8em;

    display: flex;
    justify-self: center;
  }

  .portfolio-image.image1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .portfolio-image.image2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .portfolio-image.image3 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .portfolio-image.image4 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .portfolio-image.image5 {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .portfolio-image.image6 {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .portfolio-image.image7 {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .portfolio-image.image8 {
    grid-row: 4/5;
    grid-column: 2/3;
  }

  .resume-skills.grid {
    grid-column: 1/3;

    grid-template-rows: auto auto auto auto 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .resume.grid.current {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .resume.grid.current p.separator {
    margin-left: -1.5em;
  }

  .portfolio.grid {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .skills.first {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .resume.grid.past.one {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .resume.grid.past.two {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .resume.grid.past div.grid {
    grid-template-columns: 2fr 1fr;
  }

  .resume.grid.past div.grid .year,
  .resume.grid.past div.grid .separator,
  .resume.grid.past div.grid .city {
    grid-column: 2/3;
  }

  .resume.grid.past div.grid .profession,
  .resume.grid.past div.grid .company {
    grid-column: 1/2;
  }

  .resume.grid.past p.separator {
    margin-right: -1.5em;
  }

  .skills.second {
    grid-row: 3/5;
    grid-column: 2/3;
  }

  /*
  * --- CONTACT FORM STYLES ---
  */
  #email.flex {
    margin: 0.7em 0;
  }

  #email.flex,
  #phone-number.flex {
    font-size: 2em;
  }

  .input-textbox,
  .input-textarea,
  .btn {
    border-radius: 20px;
  }

  .input-textbox,
  .input-textarea,
  .btn {
    font-size: 1.6em;
  }

  .input-textbox,
  .input-textarea {
    width: 70%;
  }

  .btn {
    width: 74%;
  }

  /*
  * --- FOOTER STYLES ---
  */
  footer.grid {
    font-size: 1.8em;
  }
}

/*
 * ─── 812PX AND UP STYLES ────────────────────────────────────────────────────────
 */
@media screen and (min-width: 812px) {
  /*
  * --- NAV BAR STYLES ---
  */
  nav.grid {
    margin: 2em 4em;
  }

  nav img {
    max-width: 12em;
  }

  #title,
  #navigation ul li {
    font-size: 1.4em;
  }

  /*
  * --- FOOTER STYLES ---
  */
  footer.grid {
    font-size: 1.6em;
  }
}

/*
 * ─── 1024PX AND UP STYLES ────────────────────────────────────────────────────────
 */
@media screen and (min-width: 1024px) {
  /*
  * --- NAV BAR STYLES ---
  */
  nav.grid {
    margin: 2em 4em;
  }

  nav img {
    max-width: 18em;
  }

  #title,
  #navigation ul li {
    font-size: 1.8em;
  }

  nav.grid div.grid {
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 4fr 1fr;
  }

  nav img {
    grid-column: 1/2;

    padding-top: 2em;
    /* max-width: 18em; */
  }

  nav.grid div.grid p {
    grid-column: 2/3;

    margin: auto;
  }

  /*
  * --- RESUME CONTENT STYLES ---
  */
  .resume-skills.grid {
    grid-gap: 5em;
  }

  .timeline {
    height: 98em;
  }

  .resume.grid.current p.separator {
    margin-left: -2em;
  }

  .resume.grid.past p.separator {
    margin-right: -2em;
  }

  .resume.grid.past .year,
  .resume.grid.past .city {
    text-align: center;
  }

  .skills.first {
    display: grid;

    grid-template-rows: 1fr 6fr 4fr;
    grid-template-columns: repeat(6, 1fr);
  }

  .skills.first div.skill-category {
    grid-row: 1/2;
    grid-column: 1/7;
  }

  .skills.first div.group-design {
    grid-row: 2/3;
    grid-column: 1/4;
  }

  .skills.first div.group-software {
    grid-row: 3/4;
    grid-column: 1/4;
  }

  .skills.first div.group-programming {
    grid-row: 2/4;
    grid-column: 4/7;
  }

  .skills.second {
    display: grid;

    grid-template-rows: 1fr 4fr 3fr;
    grid-template-columns: 1fr 1fr;
  }

  .skills.second div.skill-category {
    grid-row: 1/2;
  }

  .skills.second div.group-software {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .skills.second div.group-programming {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .skills.second div.group-misclleous {
    grid-row: 2/4;
    grid-column: 2/3;
  }

  /*
  * --- CONTACT FORM STYLES ---
  */
  #contact-form.grid {
    grid-template-rows: auto auto auto 3fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }

  #contact-form.grid h3 {
    grid-row: 1/2;
    grid-column: 1/3;

    font-size: 4em;
    margin-bottom: 1em;
  }

  #contact-form.grid a {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  #contact-form.grid p {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  #email.flex,
  #phone-number.flex {
    justify-self: start;
    margin: 0 2em;
  }

  #contact-form.grid form {
    grid-row: 2/5;
    grid-column: 2/3;
  }

  /*
  * --- FOOTER STYLES ---
  */
  footer.grid {
    font-size: 1.8em;
  }
}

/*
 * ─── 1440PX AND UP STYLES ────────────────────────────────────────────────────────
 */
@media screen and (min-width: 1440px) {
  /*
  * --- NAV BAR STYLES ---
  */
  nav.grid {
    margin: 2em 4em;

    grid-template-columns: 1fr 1fr;
  }

  nav img {
    max-width: 25em;
  }

  nav.grid div.grid {
    grid-template-columns: 3fr 4fr;
  }

  #navigation {
    text-align: end;
  }

  #navigation ul {
    margin: auto 3em;
  }

  #title,
  #navigation ul li {
    font-size: 2.2em;
  }

  nav.grid div.grid p {
    margin: auto 0;
  }

  /*
  * --- RESUME CONTENT STYLES ---
  */

  .resume-skills.grid {
    margin-top: 16em;
  }
  .timeline {
    height: 147em;
  }

  .year,
  .city,
  .profession,
  .company,
  .skills {
    font-size: 2em;
    margin-left: 1em;
  }

  .resume.grid.current p.separator {
    margin-left: -2.5em;
  }

  .resume.grid.past p.separator {
    margin-right: -2.5em;
  }

  .resume.grid.past ul li {
    font-size: 1.8em;
  }

  .portfolio-image {
    height: 15em;
  }

  .portfolio.grid {
    grid-gap: 2.5em;
  }

  /*
  * --- CONTACT FORM STYLES ---
  */
  #email.flex,
  #phone-number.flex {
    font-size: 2.4em;
  }

  .input-textbox,
  .input-textarea,
  .btn {
    font-size: 2em;
  }

  /*
  * --- FOOTER STYLES ---
  */
  footer.grid {
    font-size: 2em;
  }
}
